@using TestWebApp.ViewModel
@*@model NotificationViewModel*@

@using PagedList.Mvc
@model  PagedList.IPagedList<TestWebApp.ViewModel.NotificationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="refresh" content="300">

<h2>System Log</h2>

@Html.Partial("_SystemLogTable", Model)
<div id="container" style="margin-left: 0px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 0px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>    

